@import "var.scss";
@import "navbar.scss";
@import "header.scss";
@import "skills.scss";
@import "portfolio.scss";
@import "about.scss";
@import "contact.scss";
@import "footer.scss";

.high {

    background-color: $back-color;
    background-repeat: repeat;
    background-size: contains;
}