.portfolio {

    position: relative;
    padding-top: 5vw;
    
    @media (max-width: 500px) {

        margin-top: 15vw;
        height: auto;
    }

    h2 {
        font-family: $title-font;
        font-size: 4vw;
        padding: 2vw;
        margin-left: 12vw;
        color: $text-color;

        @media (max-width: 500px) {

            font-size: 10vw;
        }
    }

    .vertical-line {
        position: absolute;
        top: 11vw;
        bottom: 3vw;
        left: 50%;
        width: 1px;
        background-color: white;
        z-index: 9999;

        @media (max-width: 500px) {

            display: none;
        }
    
            ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 5vw;
            left: -5px;
            
            }

    }

    .blocsite {

        display: -ms-grid;
        display: grid;
        overflow: hidden;

        @media (max-width: 500px) {

            justify-items: center;
        }

        .projet1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            justify-self: flex-end;
            width: 40%;
            margin-right: 4vw;
            transform: translateX(70em);
            opacity: 0;
            transition: all 1s ease-in-out;

            @media (max-width: 500px) {

                -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                -ms-grid-column-align: center;
                    justify-self: center;
                width: 80%;
                margin: 7vw 3vw;

            }

            .orange {
                
                @include orangePoint(0.3em);
                
            }
            .date_projet {

                font-size: 1.5vw;
                font-family: $title-font;

                @media (max-width: 500px) {

                    font-size: 5vw;
                }
            }

            @include projetpat;
            
        }

        .active_projet_move {

            transform: translateX(0em);
            opacity: 1;
        }

        .projet2 {
            
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            justify-self: flex-start;
            text-align: end;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
            width: 40%;
            margin-left: 4vw;
            transform: translateX(-70em);
            opacity: 0;
            transition: all 1s ease-in-out;
            
            @media (max-width: 500px) {

                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -ms-grid-column-align: center;
                    justify-self: center;
                width: 80%;
                margin: 7vw 3vw;

            }

            .orange {
                
                @include orangePoint(0.4em);
                
            }
            .date_projet {

                font-size: 1.5vw;
                font-family: $title-font;

                @media (max-width: 500px) {

                    font-size: 5vw;
                }
            }

            @include projetpat;
            
        }

        .active_projet_move {

            transform: translateX(0em);
            opacity: 1;
        }
    } 
}