
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$back-color: #1b2133;
$nav-color: #222a3f;
$btn-color: #cc5216;
$title-font: 'Iceberg', cursive;
$text-font: 'Lato', sans-serif;
$text-color: white;
$white-back: #d9e2f7;


@mixin btn ($fs){
    background-color: $btn-color;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 0.5vw;
    border-radius: 5px;
    text-decoration: none;
    font-size: $fs;
    font-family: $title-font;
    border: none;
    cursor: pointer;
    --c: #cc5216; /* the color */
    --b: .15vw;    /* border length*/
    --d: 0.6vw;    /* the cube depth */
    
    --_s: calc(var(--d) + var(--b));
    
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    -webkit-transform: translate(calc(var(--d)/-1),var(--d));
    -ms-transform: translate(calc(var(--d)/-1),var(--d));
            transform: translate(calc(var(--d)/-1),var(--d));
    -webkit-clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
            clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        );
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

}

@mixin transform ($x) {
    -webkit-transform: scale($x);
            -ms-transform: scale($x);
                transform: scale($x);
}

@mixin icone ($x,$y,$s) {
    position: absolute;
    top: $x;
    left: $y;
    font-size: $s;
    z-index: 7;
    border: none;
    border-radius: 2px;
    color: $white-back;
}

@mixin keyframes($name,$deg) {
    @keyframes #{$name}{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate($deg);
        }
    }
}

@mixin whiteCircle ($size,$x,$y,$deg,$name) {
    .circle {
        border-radius: 50%;
        position: absolute;
        top: $x;
        left: $y;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }
      
      .big {
        background-color: #1f304b;;
        width: $size;
        height: $size;
        z-index: 1;

        .circlebis {
            .layer-1 {
                -webkit-transform: rotate($deg);
                    -ms-transform: rotate($deg);
                        transform: rotate($deg);
                -webkit-animation: $name ease-in-out 3s;
                        animation: $name ease-in-out 3s;
            }
            .item {
                width: calc($size + 0.11vw);
                height: calc($size + 0.11vw);
                position: absolute;
                border-radius: 50%;
                clip: rect(0, calc($size + 0.5vw), calc($size + 0.5vw), calc(($size / 2) + 0.2vw));

                .fill {
                    width: calc($size + 0.13vw);
                    height: calc($size + 0.13vw);
                    position: absolute;
                    border-radius: 50%;
                    clip: rect(0, calc(($size / 2) + 0.25vw), calc($size + 0.5vw), 0);
                    background-color: white;
                    -webkit-transform: rotate($deg);
                        -ms-transform: rotate($deg);
                            transform: rotate($deg);
                    -webkit-animation: $name ease-in-out 3s;
                            animation: $name ease-in-out 3s;
                }
                @include keyframes($name,$deg)
            }
        }
      }
      
      .white {
        background-color: white;
        width: calc($size / 1.45);
        height: calc($size / 1.45);
        z-index: 2;
        -webkit-box-shadow: 0px 0px 20px 1px #000000 inset;
                box-shadow: 0px 0px 20px 1px #000000 inset;
      }
      
      .small {
        background-color: $back-color;
        width: calc($size / 3.2);
        height: calc($size / 3.2);
      }
}

@mixin language ($fs,$x,$y){

    p {
        font-size: $fs;
        font-family: $title-font;
        color: $text-color;
        position: absolute;
        top: $x;
        left: $y;
        padding-top: 1vw;
    }
}

@mixin orangePoint ($content,$top,$left,$mtop) {

        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $btn-color;
        margin-top: $mtop;
      
        &:before {
            content:$content;
            position: absolute;
            top: $top;
            left: $left;
            color: $text-color;
            font-family: $title-font;
            font-size: 1.5vw;
        }
    
}

@mixin projetpat {

    h3 {
        font-family: $title-font;
        font-size: 3vw;
        color: $text-color;
        padding: 1vw 3vw;
    }
    p {
        font-family: $text-font;
        font-size: 1.2vw;
        color: $text-color;
        padding: 1vw 3vw;
    }
    span {
        background-color: $text-color;
        width: 20%;
        height: 1px;
        margin: 1vw 6vw;
    }
    div {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

        img {
            width: 70%;
            height: auto;
            margin: 1vw 3vw;
            border-radius: 6px;
        }
        a {
            color: $text-color;
            font-size: 2.5vw;
            padding-left: 2vw;
            padding-right: 2vw;
        }
    }
}

.high {

    background-color: $back-color;
    background-repeat: repeat;
    background-size: contains;
    
    .header_mobile {
        display: none;
    }

    .header_desktop {
        background-color: $nav-color;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 0 20px;
        color: $text-color;
        border-bottom: 1px solid black;

        /* Style du logo */
        img {
            width: 10vw;
            height: auto;
            padding: 1vw 2vw;

        }
        ul {
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin: 0.2em 0.2em;
                padding-left: 2em;
                padding-right: 2em;
                font-family: $title-font;
                font-size: 1.5vw;

                a {
                    color: $text-color;
                    text-decoration: none;
                }

                a:hover {
                    padding-bottom: 3vw;
                    border-bottom: 0.3vw solid $btn-color;
                }
            }
        }
        .btn {
            @include btn(1.5vw);
        }

        .btn:hover {
            -webkit-transform: translate(0,0);
                -ms-transform: translate(0,0);
                    transform: translate(0,0);
            -webkit-clip-path: 
                polygon(
                0% var(--d), 
                var(--d) 0%, 
                100% 0%, 
                100% calc(100% - var(--d)), 
                calc(100% - var(--d)) 100%, 
                0% 100%
            );
                    clip-path: 
                polygon(
                0% var(--d), 
                var(--d) 0%, 
                100% 0%, 
                100% calc(100% - var(--d)), 
                calc(100% - var(--d)) 100%, 
                0% 100%
            );
        }
    }

    .head {
        
        display: -webkit-box;
        
        display: -ms-flexbox;
        
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        padding-top: 7vw;
        padding-bottom: 7vw;

            .bloc1 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: end;
                    -ms-flex-align: end;
                        align-items: end;
                width: 40%;
                margin: 0.3vw;
                padding: 2vw 0 2vw 4vw;

                h2 {
                    font-family: $title-font;
                    font-size: 2vw;
                    color: $text-color;
                    margin: 2vw 0.2vw;
                    padding-left: 4em;
                    text-align: end;
                }
                p {
                    font-family: $text-font;
                    color: $text-color;
                    margin: 2vw 0.2vw;
                    text-align: end;
                    font-size: 1vw;
                }
                .btn {
                    @include btn(1.5vw);
                    margin: 2vw 0.2vw;
                }
                .btn:hover {
                    -webkit-transform: translate(0,0);
                        -ms-transform: translate(0,0);
                            transform: translate(0,0);
                    -webkit-clip-path: 
                        polygon(
                        0% var(--d), 
                        var(--d) 0%, 
                        100% 0%, 
                        100% calc(100% - var(--d)), 
                        calc(100% - var(--d)) 100%, 
                        0% 100%
                    );
                            clip-path: 
                        polygon(
                        0% var(--d), 
                        var(--d) 0%, 
                        100% 0%, 
                        100% calc(100% - var(--d)), 
                        calc(100% - var(--d)) 100%, 
                        0% 100%
                    );
                }
            }

            .bloc2 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 40%;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                position: relative;

                img {
                    width: 20vw;
                    border: 0.5vw solid white;
                    z-index: 5;
                }
                .circle {
                    position: absolute;
                    top: 25vw;
                    left: 5.5vw;
                    width: 10vw;
                    height: 10vw;
                    border-radius: 50%;
                    border: 2px dotted white;
                    z-index: 1;
                }
                .css {
                    @include icone(1vw,5vw,2.5vw);
                }
                .js {
                    @include icone(-4vw,15vw,2.5vw);
                }
                .html {
                    @include icone(5vw,32vw,2.5vw);
                }
                .php {
                    @include icone(-3vw,28vw,2.5vw);
                }
                .git {
                    @include icone(2vw,25vw,2.5vw);
                }
                .code {
                    @include icone(7vw,9vw,2.5vw);
                }
            }
    }

    .skills {


        .skillsdef {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 0vw 3vw;
            -webkit-box-pack:space-evenly;
                -ms-flex-pack:space-evenly;
                    justify-content:space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            .textskills {
                width: 30%;
                color: $text-color;
                margin-right: 2vw;
                
                h1 {
                    font-family: $title-font;
                    font-size: 3vw;
                    margin: 2vw 0;
                    margin-left: 2vw;
                }

                p {
                    font-family: $text-font;
                    font-size: 1.1vw;
                    margin-left: 2vw;
                    margin-bottom: 1.5vw;
                }
                button {
                    width: 70%;
                    margin: 1vw 2vw;
                    padding: 1vw;
                    text-align: center;
                    border: none;
                    border-radius: 40px;
                    -webkit-box-shadow: 
                        -5px 5px 6px 0 rgba(10, 15, 31, 0.973),
                        5px -5px 6px 0 rgba(25, 57, 126, 0.425);
                            box-shadow: 
                        -5px 5px 6px 0 rgba(10, 15, 31, 0.973),
                        5px -5px 6px 0 rgba(25, 57, 126, 0.425);
                    font-size: 1.3vw;
                    font-family: $text-font;
                    background-color: $back-color;
                    color: $text-color;
                    cursor: pointer;
                    
                }

                .activeButton {
                    -webkit-box-shadow: inset -3px 3px 5px 0 rgba(10, 15, 31, 0.973),
                                inset 4px -4px 3px 0 rgba(25, 57, 126, 0.425);
                            box-shadow: inset -3px 3px 5px 0 rgba(10, 15, 31, 0.973),
                                inset 4px -4px 3px 0 rgba(25, 57, 126, 0.425);
                    font-size: 1.25vw;
                    padding: 1.05vw 1.05vw;
                }
            }
            .skillsimg {
                
                img {
                    width: 40vw;
                    height: auto;
                    -webkit-transition: -webkit-transform 0.4s ease-out;
                    transition: -webkit-transform 0.4s ease-out;
                    -o-transition: transform 0.4s ease-out;
                    transition: transform 0.4s ease-out;
                    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;;
                }
                img:hover {
                    @include transform(1.1);
                }
            }
        }

        #backend {
            display: none;
        }
        .circleskills {
            height: 15vw;
            position: relative;
            margin-right: 1.5vw;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;

            .circle1 {
                @include whiteCircle (8vw,50%,10%,160deg,fillan);
                @include language(2vw,13vw,7.75vw);
            }
            .circle2 {
                @include whiteCircle (8vw,50%,30%,140deg,fillen);
                @include language(2vw,13vw,26.25vw);
            }
            .circle3 {
                @include whiteCircle (8vw,50%,50%,90deg,fillou);
                @include language(2vw,13vw,45vw);
            }
            .circle4 {
                @include whiteCircle (8vw,50%,70%,90deg,fillon);
                @include language(2vw,13vw,66vw);
            }
            .circle5 {
                @include whiteCircle (8vw,50%,90%,120deg,fillin);
                @include language(2vw,13vw,83.75vw);
            }
            .circle6 {
                @include whiteCircle (8vw,50%,30%,110deg,filli);
                @include language(2vw,13vw,27.5vw);
            }
            .circle7 {
                @include whiteCircle (8vw,50%,50%,130deg,fillop);
                @include language(2vw,13vw,47.5vw);
            }
            .circle8 {
                @include whiteCircle (8vw,50%,70%,60deg,fillun);
                @include language(2vw,13vw,65.75vw);
            }
        }
    }

    .portfolio {

        position: relative;
        padding-top: 5vw;
        height: 80vw;

        h2 {
            font-family: $title-font;
            font-size: 4vw;
            padding: 2vw;
            margin-left: 12vw;
            color: $text-color;
        }

        .vertical-line {
            position: absolute;
            top: 11vw;
            bottom: 3vw;
            left: 50%;
            width: 1px;
            background-color: white;
            z-index: 9999;
        
            ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 5vw;
            left: -5px;

                .point1 {
                    @include orangePoint("2022",-0.5vw,-4vw,0);
                }
                .point2 {
                    @include orangePoint("2022",29.5vw,2.5vw,29.25vw);
                }
            
            }

        }

        .blocsite {

                display: -ms-grid;

                display: grid;

            .projet1 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                justify-self: flex-end;
                width: 40%;
                margin-right: 4vw;
                
                @include projetpat;
                
            }

            .projet2 {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                justify-self: flex-start;
                text-align: end;
                -webkit-box-align: end;
                    -ms-flex-align: end;
                        align-items: flex-end;
                width: 40%;
                margin-left: 4vw;
                
                @include projetpat;
                
            }
        } 
    }

    .about {

        width: 85%;
        padding-bottom: 4vw;
        margin: 4vw auto;
        border-radius: 60% 40% 77% 23% / 30% 62% 38% 70%;
        background-image: url("../assets/images/testb.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(25, 57, 126, 0.425);
                box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(25, 57, 126, 0.425);

        h3 {
            font-family: $title-font;
            font-size: 2.5vw;
            color: $white-back;
            padding: 5vw 1vw 2vw 28vw;
        }

        .aboutbloc {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin: 2vw 4vw;

            .menu {
                width: 35%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: space-evenly;
                    -ms-flex-pack: space-evenly;
                        justify-content: space-evenly;
                background-color: #36445a;
                margin: 0 2vw;
                padding-bottom: 2vw;
                border-radius: 73% 27% 50% 50% / 36% 41% 59% 64%;
                

                img {
                    width: 45%;
                    height: auto;
                    margin-top: -2vw;
                    padding: 0vw 0.5vw 1vw 0.5vw;
                    border-radius: 100%;
                }

                .activeButton {
                    -webkit-box-shadow: inset 3px 3px 5px 0 rgba(11, 16, 34, 0.678),
                                inset -4px -4px 3px 0 rgba(226, 228, 231, 0.527);
                            box-shadow: inset 3px 3px 5px 0 rgba(11, 16, 34, 0.678),
                                inset -4px -4px 3px 0 rgba(226, 228, 231, 0.527);
                    font-size: 1.15vw;
                    padding: 0.55vw 0.55vw;
                }    
                button {
                    width: 50%;
                    font-family: $title-font;
                    font-size: 1.2vw;
                    padding: 0.5vw;
                    margin: 0vw 0.5vw;
                    color: $back-color;
                    background-color: $white-back;
                    text-align: center;
                    border: none;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    border-radius: 15px;
                    cursor: pointer;
                    -webkit-box-shadow: 
                    -4px 4px 6px 0 rgba(10, 15, 31, 0.973),
                    4px -4px 4px 0 rgba(146, 184, 247, 0.432);
                            box-shadow: 
                    -4px 4px 6px 0 rgba(10, 15, 31, 0.973),
                    4px -4px 4px 0 rgba(146, 184, 247, 0.432);
                }
            }

            .active {
                display: block !important;
            }
        
            .textme {
                display: none;
                width: 50%;
                height: 30vw;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
               
                margin: 0 4vw;
                padding: 2vw;
                

                h4 {
                    font-family: $title-font;
                    font-size: 2.5vw;
                    color: $white-back;
                    padding: 0.5vw;
                    margin-left: 3vw;
                }

                p {
                    font-family: $text-font;
                    font-size: 1.3vw;
                    color: $white-back;
                    padding: 2vw 0;
                }

            }
        }
    }

    .contact {

        margin-bottom: 5vw;

        h3 {
            font-family: $title-font;
            font-size: 4vw;
            color: $text-color;
            padding: 1vw 0;
            margin: 4vw 4vw 4vw 14vw;
        }
       
        .backto {
            display: none;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 1vw 0;
            margin: 4vw;
            text-decoration: none;

            i {
                font-size: 3vw;
                color: $text-color;
                margin-right: 1vw;
            }
            p {
                font-family: $title-font;
                font-size: 2vw;
                color: $text-color;
            }
        }
            
        
        .blocContact {
            width: 60%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 8vw;
            padding: 3vw;
            border-radius: 40px;
            background-image: url("../assets/images/testb.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
            -webkit-box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(32, 73, 160, 0.425);
                    box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(32, 73, 160, 0.425);

            h4 {
                font-family: $title-font;
                font-size: 3vw;
                color: $text-color;
                padding: 1vw 0;
            }

            p {
                font-family: $text-font;
                font-size: 1.5vw;
                color: $text-color;
                padding: 4vw 5vw;
                text-align: center;
            }

            .btn {
                @include btn(1.5vw);
            }
            .btn:hover {
                -webkit-transform: translate(0,0);
                    -ms-transform: translate(0,0);
                        transform: translate(0,0);
                -webkit-clip-path: 
                    polygon(
                    0% var(--d), 
                    var(--d) 0%, 
                    100% 0%, 
                    100% calc(100% - var(--d)), 
                    calc(100% - var(--d)) 100%, 
                    0% 100%
                );
                        clip-path: 
                    polygon(
                    0% var(--d), 
                    var(--d) 0%, 
                    100% 0%, 
                    100% calc(100% - var(--d)), 
                    calc(100% - var(--d)) 100%, 
                    0% 100%
                );
            }
        }


        .formbloc {

            display: none;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            width: 50%;
            height: 66vw;
            margin: 4vw auto;
            background-color: $nav-color;
            border-radius: 40px;
            position: relative;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            transition: opacity 0.5s;
            background-image: url("../assets/images/form-back.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(32, 73, 160, 0.425);
                    box-shadow: 
                -12px 12px 16px 0 rgba(10, 15, 31, 0.973),
                8px -8px 12px 0 rgba(32, 73, 160, 0.425);

            .coor {

                width: 30%;
                -ms-flex-item-align: start;
                    align-self: flex-start;
                margin-top: 10vw;
                margin-left: 4vw;
                div {

                    display: -webkit-box;

                    display: -ms-flexbox;

                    display: flex;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;

                    i {
                        font-size: 1.6vw;
                        color: $text-color;
                    }
                    span {
                        width: 1px;
                        height: 1.3vw;
                        margin: 1vw;
                        background-color: $white-back;
                    }
                    p {
                        font-family: $title-font;
                        font-size: 1.1vw;
                        color: $text-color;
                    }
                }
                
                p {
                    font-family: $text-font;
                    font-size: 1.1vw;
                    color: $text-color;
                }

                ul {
                    list-style: none;
                    padding: 2vw 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    li {
                    margin-right: 1.5vw;

                        a {
                            color: $text-color;
                            font-family: $title-font;
                            text-decoration: none;
                            font-size: 1.7vw;
                            -webkit-transition: color 0.5s;
                            -o-transition: color 0.5s;
                            transition: color 0.5s;
                        }
                        a:hover {
                            color: $btn-color;
                        }
                    }
                }
            }

            .errorContact, .success  {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                p {
                    font-family: $text-font;
                    font-size: 1.1vw;
                    color: firebrick;
                }
                .green {
                    color: forestgreen;
                }
            }
                      
            form {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                width: 70%;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;

                i {
                    position: absolute;
                    top: 2vw;
                    left: 2vw;
                    font-size: 1.3vw;
                    color: $btn-color;
                    cursor: pointer;
                }
                label {
                    font-family: $title-font;
                    font-size: 1.5vw;
                    color: $white-back;
                    padding: 1vw;
    
                }
                .inputB {
                    width: 90%;
                    height: 2vw;
                    border: hidden;
                    border-bottom: 0.1vw solid #E5E5E5 ;
                    outline: none;
                    margin-bottom: 0.7vw;
                    font-size: 1vw;
                    color: $text-color;
                    background-color: transparent;
                }
    
                .textArea {
                    width: 90%;
                    height: 6vw;
                    border: hidden;
                    border-bottom: 0.1vw solid #E5E5E5 ;
                    outline: none;
                    margin-bottom: 3vw;
                    font-size: 1vw;
                    color: $text-color;
                    background-color: transparent;
                }
                
                .btn2 {
                    @include btn(1.5vw);
                    margin-bottom: 3vw;
                }

                .btn {
                    @include btn(1.5vw);
                    margin-bottom: 3vw;
                }
                .btn:hover {
                    -webkit-transform: translate(0,0);
                        -ms-transform: translate(0,0);
                            transform: translate(0,0);
                    -webkit-clip-path: 
                        polygon(
                        0% var(--d), 
                        var(--d) 0%, 
                        100% 0%, 
                        100% calc(100% - var(--d)), 
                        calc(100% - var(--d)) 100%, 
                        0% 100%
                    );
                            clip-path: 
                        polygon(
                        0% var(--d), 
                        var(--d) 0%, 
                        100% 0%, 
                        100% calc(100% - var(--d)), 
                        calc(100% - var(--d)) 100%, 
                        0% 100%
                    );
                }
    
                div {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: space-evenly;
                        -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
    
                    .inputS {
                        width: 43%;
                        height: 2vw;
                        border: hidden;
                        border-bottom: 0.1vw solid #E5E5E5 ;
                        outline: none;
                        margin-bottom: 0.7vw;
                        font-size: 1vw;
                        color: $text-color;
                        background-color: transparent;
                    }
                }
            }
        }

        

    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: $nav-color;
        color: #fff;
        padding: 20px 0;
        
        .footer-container {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;

            .footer-menu {
                ul {
                    list-style: none;
                    padding: 2vw;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    li {
                    margin-right: 4vw;

                    a {
                        color: $text-color;
                        font-family: $title-font;
                        text-decoration: none;
                        font-size: 1.7vw;
                    }
                    a:hover {
                        padding-top: 2.7vw;
                        border-top: 0.3vw solid $btn-color;
                    }
                    }
                }
            }

            .footer-social {
                ul {
                    list-style: none;
                    padding: 2vw;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;

                    li {
                    margin-right: 2.5vw;

                        a {
                            color: #fff;
                            font-size: 1.75vw;
                            -webkit-transition: color 0.5s;
                            -o-transition: color 0.5s;
                            transition: color 0.5s;

                        }

                        a:hover {
                            color: $btn-color;
                        }
                    }
                }
            }
        }
        a {
            text-decoration: none;
            color: $text-color;
            font-size: 1vw;
            text-align: center;
        }
    }

    .legale {
        width: 80%;
        margin: 3vw auto;

        p {
            font-family: $text-font;
            color: $text-color;
            font-size: 1vw;
            padding: 0.5vw;

            a {
                text-decoration: none;
                color: $text-color;
            }
        }

        .backto {
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 1vw 0;
            margin: 4vw;
            text-decoration: none;

            i {
                font-size: 3vw;
                color: $text-color;
                margin-right: 1vw;
            }
            p {
                font-family: $title-font;
                font-size: 2vw;
                color: $text-color;
            }
        }
    }
}

@media (max-width: 500px) {
    
    .high {

        .header_desktop {
            display: none;
        }

        .header_mobile {

            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            position: relative;

            img {
                width: 20vw;
                margin-left: 5vw;
            }

            i {
                font-size: 12vw;
                color: $text-color;
                margin-right: 10vw;

            }

            .active-menu  {
                right: 0vw !important;
            }

            .menu {
                position: fixed;
                top: 0;
                right: -60vw;
                z-index: 100;
                padding: 8vw;
                -webkit-transition: right 0.5s ease-in-out;
                -o-transition: right 0.5s ease-in-out;
                transition: right 0.5s ease-in-out;
                border-radius: 0 0 0 10px;
                background-color: $nav-color;

                .close {
                    position: absolute;
                    top: 0;
                    right: 42vw;
                    background-color: $nav-color;
                    font-size: 9vw;
                }

                ul {

                    li {
                        list-style: none;
                        padding: 4vw;
                        margin-right: 3vw;

                        a {
                            text-decoration: none;
                            font-family: $text-font;
                            font-size: 8vw;
                            color: $text-color;
                        }
                    }
                }
            }
        }

        .head {

            -webkit-box-orient: vertical;
            -webkit-box-direction: reverse;
                -ms-flex-direction: column-reverse;
                    flex-direction: column-reverse;

            .bloc2 {
                margin: 10vw auto;

                img {
                    width: 50vw;
                }
                .circle {
                    top: 65vw;
                    left: -17vw;
                    width: 25vw;
                    height: 25vw;
                    
                }

                .css {
                    @include icone(1vw,-15vw,7vw);
                }
                .js {
                    @include icone(-10vw,5vw,7vw);
                }
                .html {
                    @include icone(5vw,50vw,7vw);
                }
                .php {
                    @include icone(-9vw,28vw,7vw);
                }
                .git {
                    @include icone(2vw,30vw,7vw);
                }
                .code {
                    @include icone(7vw,1vw,7vw);
                }
            }

            .bloc1 {
                margin: 5vw auto;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                width: 90%;
                padding: 1vw;

                h2 {
                    font-size: 10vw;              
                    margin: 2vw 0.2vw;
                    padding-left: 0em;
                    text-align: center;
                }
                p {
                    margin: 4vw 0.2vw;
                    text-align: center;
                    font-size: 6vw;

                }
                .btn {
                    @include btn(8vw);
                }
            }
        }

        .skills {

            .skillsdef {

                .skillsimg {
                    display: none;
                }

                .textskills {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                            flex-direction: column;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    width: 80%;
                    margin-right: 0;

                    h1 {
                        font-size: 10vw;
                        margin: 3vw auto;
                        text-align: center;

                    }
                    p {
                        font-size: 6vw;
                        margin: 3vw auto;
                        text-align: center;
                    }
                    button, .activeButton {
                        width: 80%;
                        margin: 5vw auto;
                        font-size: 8vw;
                        padding: 3vw 2vw;
                        
                    }
                    
                }
            }

            .circleskills {
                height: 55vw;

                .circle1 {
                    @include whiteCircle (20vw,30%,20%,160deg,fillan);
                    @include language(5vw,26vw,15vw);
                }
                .circle2 {
                    @include whiteCircle (20vw,30%,50%,140deg,fillen);
                    @include language(5vw,26vw,41vw);
                }
                .circle3 {
                    @include whiteCircle (20vw,30%,80%,90deg,fillou);
                    @include language(5vw,26vw,69vw);
                }
                .circle4 {
                    @include whiteCircle (20vw,80%,35%,40deg,fillon);
                    @include language(5vw,55vw,27vw);
                }
                .circle5 {
                    @include whiteCircle (20vw,80%,65%,120deg,fillin);
                    @include language(5vw,55vw,53vw);
                }
                .circle6 {
                    @include whiteCircle (20vw,30%,30%,110deg,filli);
                    @include language(5vw,26vw,25vw);
                }
                .circle7 {
                    @include whiteCircle (20vw,30%,70%,130deg,fillop);
                    @include language(5vw,26vw,65vw);
                }
                .circle8 {
                    @include whiteCircle (20vw,80%,50%,60deg,fillun);
                    @include language(5vw,55vw,43vw);
                }
            }
        }

        .portfolio {

            margin-top: 15vw;
            height: auto;

            h2 {
                font-size: 10vw;
            }

            .vertical-line {
                display: none;
            }

            .blocsite {
                justify-items: center;
                
                .projet1 {

                    -webkit-box-align: center;

                        -ms-flex-align: center;

                            align-items: center;
                    -ms-grid-column-align: center;
                        justify-self: center;
                    width: 80%;
                    margin: 7vw 3vw;

                    h3 {
                        font-size: 7vw;
                    }
                    p {
                        font-size: 5vw;
                        text-align: center;
                        padding: 6vw 1vw;
                    }
                    div {
                        a {
                            i {
                                font-size: 10vw;
                            }
                        }
                    }
                }
                .projet2 {

                    -webkit-box-align: center;

                        -ms-flex-align: center;

                            align-items: center;
                    -ms-grid-column-align: center;
                        justify-self: center;
                    width: 80%;
                    margin: 7vw 3vw;

                    h3 {
                        font-size: 7vw;
                    }
                    p {
                        font-size: 5vw;
                        text-align: center;
                        padding: 6vw 1vw;
                    }
                    div {
                        a {
                            i {
                                font-size: 10vw;
                            }
                        }
                    }
                }
            }
        }

        .about {
            
            border-radius: 20px;
            
            h3 {
                font-size: 10vw;
                padding: 2vw;
                text-align: center;
                margin: 6vw 1vw;
            }

            .aboutbloc {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;

                .menu {
                    width: 90%;
                    border-radius: 10px;

                    .activeButton {
                        font-size: 5.9vw;
                        padding: 1.90vw 0vw;
                    }
                    button {
                        width: 90%;
                        font-size: 6vw;
                        margin: 3vw 1vw;
                        padding: 2vw 0vw;
                    }
                }
                .textme {
                    width: 95%;
                    height: auto;

                    h4 {
                        font-size: 6vw;
                        text-align: center;
                    }
                    p {
                        font-size: 5vw;
                        text-align: center;
                        padding: 0.5vw;
                    }
                }
            }
        }

        .contact {

            h3 {
                font-size: 10vw;
                text-align: center;
                margin: 10vw 4vw;
            }

            .backto {

                margin: 7vw 3vw;
                i {
                    font-size: 7vw;
                }
                p {
                    font-size: 6vw;
                }
            }
            .blocContact {
                width: 85%;
                border-radius: 20px;

                h4 {
                    font-size: 7vw;
                    text-align: center;
                    padding: 3vw 2vw;
                }
                p {
                    font-size: 4vw;
                }
                .btn {
                    font-size: 6vw;
                }
            }

            .formbloc {
                width: 85%;
                height: auto;
                margin-bottom: 10vw;

                .coor {
                    width: 40%;
                    margin: 5vw;
                    padding: 15vw 0vw 0vw 5vw;

                    div {

                        i {
                            font-size: 7vw;
                            margin: 1vw 2vw;
                        }
                        span {
                            height: 4vw;
                        }
                        p {
                            font-size: 5vw;
                            margin: 1vw 2vw;
                        }
                    }
                    p {
                        font-size: 3vw;
                        margin-left: 2vw;
                    }
                    ul {
                        li {
                            a {
                                font-size: 4vw;
                                margin-left: 2vw;
                            }
                        }
                    }
                }

                .errorContact {

                    p {
                        font-size: 4vw;
                    }
                }

                .success {
                    p {
                        font-size: 4vw;
                    }
                }
                form {
                    width: 80%;
                    margin-top: 10vw;
                    margin-bottom: 5vw;

                    i {
                        font-size: 3vw;
                        top: 4vw;
                        left: 6vw;
                    }

                    label {
                        font-size: 6vw;
                        margin: 4vw 1vw;
                    }

                    div {
                        .inputS {
                            height: 5vw;
                            font-size: 4vw;
                        }
                    }

                    .inputB {
                        height: 5vw;
                        font-size: 4vw;
                    }
                    .textArea {
                        height: 10vw;
                        font-size: 4vw
                    }
                    .btn {
                        font-size: 6vw;
                    }
                }
            }
        }

        footer {
            .footer-container {
                .footer-menu {
                    ul {
                        li {
                            a {
                                font-size: 5vw;
                            }
                        }
                    }
                }

                .footer-social {  
                    ul {
                        li {
                            a {
                                font-size: 5vw;
                            }
                        }
                    }       
                }
            }
        }
    }
    
}